body, head {
    padding: 0%;
    margin: 0%;
    color: black;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'League Gothic', sans-serif;
    font-size: 150%;
}

.navbar-brand{
    font-size: 150%;
    padding: 10px;
}

.card-header{
    font-size: 150%;
}

.modal-title{
    font-size: 150%;
}

.topo{
    
    font-style: none;
    list-style: none;
    font-size: 200%;
   
}

.imgf:hover{
    scale: 1.1;
    
}
